* {
    font-family: "Arial", "微軟正黑體";
    box-sizing: border-box;
}

img {
    border: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    border-top: 13px solid #0094da;
}

.ul_unstyle {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.primary {
    width: 1024px;
    margin: 0 auto;
}

#header {
    position: relative;
    z-index: 50;
}

#header > div {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

#navi {
    position: absolute;
    top: 10px;
    right: 0;
}

#navi > li {
    float: left;
    position: relative;
}

#navi ul {
    position: absolute;
    background-color: #f4f4f4;
    width: 230px;
    padding: 1em 0;
    display: none;
}

#navi > li:hover ul {
    display: block;
}

#navi ul li {
    margin-bottom: 3px;
}

#navi ul a {
    display: block;
    color: #ff6600;
    padding: 0.5em 1em;
    font-size: 20px;
    background-color: #92ceea;
    position: relative;
    text-shadow: 1px 1px #999;
}

#navi ul a:hover{
    text-decoration: none;
}

#navi ul span {
    position: absolute;
    top: 15px;
    right: 10px;
    background: url(../images/arrow.png);
    width: 11px;
    height: 15px;
}

#navi ul a:hover {
    background-color: #f4f4f4;
}

#banner {
    background: url(../images/index_bg.jpg) center center;
    height: 317px;
    position: relative;
    margin-bottom: 40px;
}

#banner > div {
    width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 40px;
}

#banner img {
    display: block;
    margin-bottom: 10px;
    margin-left: -10px;
}

#banner_news {
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    margin-bottom: 20px;
    color: #FFF;
}

.clear {
    clear: both;
}

#footer >.primary {
    position: relative;
    height: 130px;
}

#footer >.primary > img {
    position: absolute;
    right: 0;
    top: 10px;
}

#footer >.primary > div {
    position: absolute;
    font-size: 15px;
    top: 60px;
    left: 230px;
}
